.venv/

*.pyc
__pycache__/

instance/

.DS_Store

.coverage

Verbs.json

app.db

.flake8

.env

utils/audioverbs_poblation.py
utils/database_poblation.py

jsons/

english-verbs.db
english-verbs.db-wal
english-verbs.db-shm
english-verbs.db-info

audio_verbs.csv

cloudinary_down.py

import.py

prueba.py

prueba_csv.py

matched_audios.txt

missing_audios.txt
