annotated-types==0.7.0
blinker==1.8.2
click==8.1.7
flask==3.0.3
flask-paginate==2024.4.12
flask-wtf==1.2.2
itsdangerous==2.2.0
jinja2==3.1.4
markupsafe==3.0.2
peewee==3.17.7
pydantic==2.9.2
pydantic-core==2.23.4
python-decouple==3.8
typing-extensions==4.12.2
werkzeug==3.1.2
wtforms==3.2.1
