.btn-warning {
    background-color: #FFDE59 !important;
    border-color: #FFDE59 !important;
}

.bg-warning {
    background-color: #FFDE59 !important;
}

.border-warning {
    background-color: #FFDE59 !important;
}

.border-warning {
    border-color: #FFDE59 !important;
}
