html {
    font-family: 'Montserrat', sans-serif;
    background-color: #FF9A8B;
    background-image: linear-gradient(90deg, #FF9A8B 0%, #FF6A88 55%, #FF99AC 100%);
}
/* Search Modul */
.boton {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 10px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
}

/* Search Button */
.boton_2 {
    color: #FFFFFF;
    background-color: #8c3d50;
    border-radius: 5px;
    border: none;
    padding: 4px 10px;
    cursor: pointer;
}

/* Low Tab */
.boton_3 {
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 20px;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
}

@media (max-width: 768px) {
    .boton_3 {
        display: flex;
        flex-direction: column;
    }
}

/* Title */
.title {
    font-size: 30px;
    color: #FFFFFF;
    background-color: #FF6A88;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.24);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding: 50px 0;
    margin-top: 0;
    text-transform: uppercase;
}

/* Table Full */
.table {
    max-width: auto;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 130px;
    margin-left: 50px;
    margin-right: 50px;
}

/* Data Box */
.cuadro {
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


@media (max-width: 768px) {
    .cuadro {
        margin-left: auto;
        margin-right: auto;
        overflow: scroll;
    }
}

/* Rows */
table, th, td {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
}

/* Footer */
.footer {
    font-size: 15px;
    color: #FFFFFF;
    background-color: #FF6A88;
    border-top: 0.5px solid rgba(0, 0, 0, 0.24);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    text-align: center;
    padding: 50px 0;
    margin-bottom: 0;
}

/* Footer Name Dev */
.title_footer {
    padding-bottom: 20px;
}

/* Social Icons */
.img_container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    gap: 20px;
}

/* Social Images */
.img {
    max-width: 35px;
    max-height: 35px;
}