<div id="verb-table">
    <!-- Tabla -->
    <!-- partials/verbs_table.html -->
    <section class="container">
        <div class="table-responsive">
            <table
                class="table table-hover table-borderless align-middle shadow-sm"
            >
                <thead>
                    <tr>
                        <th>TYPE</th>
                        <th>SIMPLE FORM</th>
                        <th>THIRD PERSON</th>
                        <th>SIMPLE PAST</th>
                        <th>PAST PARTICIPLE</th>
                        <th>GERUND</th>
                        <th>MEANING</th>
                    </tr>
                </thead>
                <tbody>
                    {% for verb in verbs %}
                    <tr>
                        <td>{{ verb["TYPE"] }}</td>

                        {% set audio_text_pairs = [ ("audio_simple",
                        "SIMPLE_FORM"), ("audio_third", "THIRD_PERSON"),
                        ("audio_past", "SIMPLE_PAST"), ("audio_part",
                        "PAST_PARTICIPLE"), ("audio_gerund", "GERUND") ] %} {%
                        for audio_key, text_key in audio_text_pairs %}
                        <td>
                            <div
                                class="d-flex align-items-center gap-2 flex-nowrap"
                            >
                                <button
                                    class="btn btn-sm btn-outline-secondary btn-audio"
                                    onclick="playAudio('{{ verb[audio_key] }}', this)"
                                >
                                    <i class="bi bi-volume-up-fill"></i>
                                </button>
                                <span class="text-nowrap">
                                    {{ verb[text_key] }}
                                </span>
                            </div>
                        </td>
                        {% endfor %}

                        <td>{{ verb["MEANING"] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <!-- Pagination -->
    <section class="container mt-4">
        <!-- Pagination -->
        <nav aria-label="Page navigation" class="mt-4">
            <div class="d-flex justify-content-center overflow-auto w-100">
                <ul class="pagination mb-0">
                    {% if page > 1 %}
                    <li class="page-item">
                        <a
                            class="page-link"
                            hx-get="{{ url_for('index_bp.verbs_partial', page=page - 1, verb=search_term) }}"
                            hx-target="#verb-table"
                            hx-swap="innerHTML"
                            >&laquo;</a
                        >
                    </li>
                    {% endif %} {% for p in range(1, total_pages + 1) %}
                    <li class="page-item {% if p == page %}active{% endif %}">
                        <a
                            class="page-link"
                            hx-get="{{ url_for('index_bp.verbs_partial', page=p, verb=search_term) }}"
                            hx-target="#verb-table"
                            hx-swap="innerHTML"
                            >{{ p }}</a
                        >
                    </li>
                    {% endfor %} {% if page < total_pages %}
                    <li class="page-item">
                        <a
                            class="page-link"
                            hx-get="{{ url_for('index_bp.verbs_partial', page=page + 1, verb=search_term) }}"
                            hx-target="#verb-table"
                            hx-swap="innerHTML"
                            >&raquo;</a
                        >
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </section>
</div>
